{
  "apiFolder": "routes",
  "definition": {
    "openapi": "3.0.0",
    "info": {
      "title": "RUBY API Documentation",
      "version": "1.0.2",
      "description": "The OpenAPI specification for the ruby.ad API",
      "license": {
        "name": "MIT",
        "url": "https://opensource.org/licenses/MIT"
      }
    },
    "servers": [
      {
        "url": "https://ruby.ad",
        "description": "ruby.ad API (us-central1)"
      },
      {
        "url": "https://eu.ruby.ad",
        "description": "ruby.ad API (europe-west1)"
      }
    ],
    "tags": [
      { "name": "Agents", "description": "Agent configurations" },
      { "name": "Apps", "description": "Ruby apps" },
      { "name": "Conversations", "description": "Conversations" },
      { "name": "DatasourceViews", "description": "Data source views" },
      { "name": "Datasources", "description": "Data sources" },
      { "name": "Feedbacks", "description": "Message feedbacks" },
      { "name": "MCP", "description": "MCP servers" },
      { "name": "Mentions", "description": "Mentions" },
      { "name": "Search", "description": "Search" },
      { "name": "Tools", "description": "Tools" },
      { "name": "Triggers", "description": "Triggers" },
      { "name": "Skills", "description": "Skills" },
      { "name": "Spaces", "description": "Spaces" },
      { "name": "Workspace", "description": "Workspace" },
      { "name": "Private User", "description": "Private API - User" },
      { "name": "Private Authentication", "description": "Private API - Authentication (WorkOS)" },
      { "name": "Private Agents", "description": "Private API - Agent configurations" },
      { "name": "Private Conversations", "description": "Private API - Conversations" },
      { "name": "Private Messages", "description": "Private API - Messages" },
      { "name": "Private Events", "description": "Private API - SSE event streams" },
      { "name": "Private Files", "description": "Private API - File uploads" },
      { "name": "Private Mentions", "description": "Private API - Mention suggestions" },
      { "name": "Private Spaces", "description": "Private API - Spaces and data source views" },
      { "name": "Private Extension", "description": "Private API - Extension configuration" },
      { "name": "Private Workspace", "description": "Private API - Workspace settings" }
    ]
  }
}
